<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
</head>

<body>
    {{> menu}}

    <h1>{{title}}</h1>
    <p>Электронный адрес: {{email}}</p>
    <p>Телефон: {{phone}}</p>

    {{> footer}}

    {{!-- Для вставки частичного представления применяется выражение {{> menu}}, в котором прописывается имя файла частичного представления без расширения. --}}
</body>
<html>