extends layout.pug
 
block title
    <title>#{title}</title>
 
block content
      
    <h1>#{title} в Pug</h1>
    if emailsVisible
        <h3>Электронные адреса</h3>
        <ul>
            each email in emails
                <li>#{email}</li>
        </ul>
    else
        <h3>Электронный адрес отсутствует</h3>
    <p>Телефон: #{phone}</p>