<!DOCTYPE html>
<html>

<head>
    <title>Главная страница</title>
    <meta charset="utf-8" />
</head>

<body>
    <h1>Главная страница</h1>
    <div>{{getTime}}</div>
    <div>{{createStringList fruit}}</div>
</body>
<html>
 